@import "../../styles/_variables.css";

.$(cls-prefix)-table {
  .table-header {
    text-align: center;
    font-size: 11px;
    padding: 0;
  }

  .table-header-row {
    display: flex;
    align-items: flex-end;
    margin: 0;
  }
}
