div(class="#{_prefix}-modal-box-success-head")
    .modal-box-success-head
        .modal-inform-head.modal-topic
            h2=title
        .vp-ab-test-receipt
            img.kvitanciya-img(src=receiptImage)
            a.show-receipt(href='#')=receiptTitle
