@import "../../styles/_variables.css";

.$(cls-prefix)-form-array {
  .remove-array-item {
    padding: 6px 0;

    @media (--tablet) {
      padding: 6px 12px;
    }
  }

  /* padding for comment block */
  .small.$(cls-prefix)-small {
    padding-right: 15px;
    padding-left: 15px;
  }

  .$(cls-prefix)-fieldset .input-set-col .control-label {
    display: block;
    height: 42px;
    line-height: 22px;
  }

  .popover-title {
    height: 22px;
    margin: 0;
    padding: 8px 14px;
    font-size: 15px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;

    .popover-close {
      font-size: 11px;
      font-weight: 700;
      border-top-right-radius: 2px;
      height: 15px;
      margin: 3px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 5;
      opacity: 1;
      transition: all 0.15s ease-out 0s;
      border-bottom: none;
      line-height: 1.316;
      color: #0a9acb;

      &:hover,
      &:focus {
        border-bottom-color: #f0b6ba;
        color: $red-danger;
        text-decoration: none;
      }
    }
  }

  .input-set-row button {
    color: $red-danger;
  }

  .popover-content span.help-message {
    color: #333;
  }

  .form-actions .form-group.$(cls-prefix)-form-group {
    margin-bottom: 0;
  }
}
