@import "../../styles/_variables.css";

.$(cls-prefix)-form-group {
  label.base-label {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 0;
    word-wrap: break-word;
  }

  .popover-content {
    color: $red-danger;
  }
}

.hidden {
  display: none;
}

