@import "../../styles/_variables.css";

.$(cls-prefix)-form-group {
  .right-mark-input {
    display: inline-block;
  }

  .right-mark {
    margin-left: 5px;
  }

  .$(cls-prefix)-a.new-form-link {
    position: absolute;
    top: 11px;
    right: 14px;
    font-size: 13px;
    border-bottom: 0;
  }
}
