.popover-content.bonus-popover-content
    a.bonus-content-link(href="/register", target="_blank") Зарегистрируйтесь
    | &nbsp;за 1 минуту<br />
    | и накапливайте бонусы!<br /><br />
    label.bonus-content-question Уже зарегистрированы?
    | Тогда&nbsp;
    a.bonus-content-link(href="/authorization", target="_blank") авторизуйтесь
    | &nbsp;перед тем, как совершить платеж.
